html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../assets/background\ bananas.png);
    background-size: 140%;

}

.index__template {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .index__content {
    min-height: 520px;
    padding: 0px 100px 300px 100px;
  }

body{
    font-family: "Montserrat";
    height: 100%;
    margin: 0;
    padding: 0;
}

/* .background_img{
    background-image: url(../assets/background\ bananas.png);
    height: 100%;
    background-size: 100%;

} */

a{
    text-decoration: none;
}

/*****************HEADER**********************/
header{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.header__logo_btn{
    height: 80px;
}

.header__logo_font{
    height: 120px;
}

.header__nav a {
    font-family: 'Satisfy', cursive;
    color: #e7dd1f;
    text-shadow: 3px 3px 2px rgba(0,0,0,0.8);
    font-size: 25px;
    padding: 0 40px;
    text-decoration: none;
}

/**************************APP******************/

.index__content{
  
}






/*****************FOOTER***********************/


.footer{
    padding:30px;
    max-height: 130px;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    display: flex;
    flex-direction: column;


    
}

.footer__logo_btn{
    height: 30px;
}

.by_me{
margin: 5px;
    height: 15px;
}


/*********************HOME********************/
.home__logo_font{
    height: 150px;
}

.home header{
    display: none;
}




/*********************ERROR*********************/

.error {
  
    font-family: 'Satisfy', cursive;
    color: #e7dd1f;
    text-shadow: 3px 3px 2px rgba(0,0,0,0.8);
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.error__404{
    
    text-shadow: 16px 20px 10px rgba(0,0,0,0.8);
    margin: 0;
    font-size: 350px;
}

.error__indications{
    font-size: 45px;
    margin: 0;
}

.error__BackLink{
    font-size: 30px;
    color: #e7dd1f;
}

.bananaSkin{
 
    /* opacity: 0.6; */
    padding-left: 70px;
    height: 600px;
    top: -100px;
    right: 100px;
}

/*********************PRODUCTS******************/

.products{
    margin-top: 30px;
    display: flex;
 flex-direction: column;
    font-family: 'Satisfy', cursive;
    color: #e7dd1f;
    text-shadow: 3px 3px 2px rgba(0,0,0,0.8);
}

.annonces{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.forSale h2{
    margin: 0;
    font-size: 40px;
}

/**********************CARD*************/
.card{
    background-color: rgba(0, 0, 0, 0.7);
    
    border-radius: 15px;
    width: 150px;
    height: 350px;
    padding: 10px;
}

.card__box_img{
    height: 150px;
    min-width: 150px;
  
}

.card__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px ;
}

.card__text{
    display: flex;
    flex-direction: column;
    padding: 10px 5px 10px 5px;
    font-family: 'Montserrat';
    text-shadow: none;
    color: rgb(255, 255, 255);
}

.card__text span{
    margin-top: 5px;
}

.card__name{
    font-size: 20px;
    font-weight: bold;
}

.card__description{
    font-size: 14px;
}

.card__price{
    font-size: 18px;
    font-weight: bold;
}

/**************************PRODUCT*****************/
.product__banana{
    margin-top: 150px;
    color: white;
    text-shadow: 3px 2px 3px rgba(0,0,0,2);
}

.product__img_infos{
    display: flex;
   
}

.product__infos{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.product__box_img{
    max-height: 600px;
    max-width: 500px;
    
}

.product__img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product__btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    gap: 10px;
}