html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../assets/background\ bananas.png);
    background-size: 140%;
}

.index__template {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .index__content {
    min-height: 520px;
    padding: 0px 100px 300px 100px;
  }

body{
    font-family: "Montserrat";
    height: 100%;
    margin: 0;
    padding: 0;
}

.background_img{
    /* background-image: url(../assets/background\ bananas.png);
    height: 100%;
    background-size: 100%; */

}


/*****************HEADER**********************/
header{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.header__logo_btn{
    height: 80px;
}

.header__logo_font{
    height: 120px;
}

/**************************APP******************/

.index__content{
  
}






/*****************FOOTER***********************/


.footer{
    padding:30px;
    max-height: 130px;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    display: flex;
    flex-direction: column;


    
}

.footer__logo_btn{
    height: 30px;
}

.by_me{
margin: 5px;
    height: 15px;
}


/*********************HOME********************/




/*********************ERROR*********************/

.error404{
height: 400px;
}